.nav{
    margin: 0px auto;
}

.nav-link{
    margin-right:28px ;
}

.dropdown-second{
    margin-left: 15px;
}

.navbar-main-container{
    position: absolute;
}

@media screen and (max-width: 768px){
    .dropdown-second{
        margin-left: 23px;
        width: 90%
    }
}